<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    <title>Cotonas</title>
</head>

<body>
  <div class="container">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/cuentas">Resumen Cuentas</a></li>
        <li class="active"><a href="/listacotonas">Historial Cotonas<span class="sr-only">(current)</span></a></li>
        <li><a href="/ingresosretiros">Historial Ingresos/Retiros</a></li>
          <li><a href="/impresiones">Historial Impresiones/DVD</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        <h1>Historial Cotonas</h1>
        <form action="/register">
        <input type="submit" value="Nuevo Arriendo">
        </form>

<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="/listacotonas/1">1</a></li>
  <li><a href="/listacotonas/2">2</a></li>
  <li><a href="/listacotonas/3">3</a></li>
  <li><a href="/listacotonas/4">4</a></li>
  <li><a href="/listacotonas/5">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
        <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Bloque</th>
                  <th>Fecha/Hora</th>
                </tr>
            </thead>
            <tbody>
            {% for cotona in cotonas[::-1]: %}
            <tr>
                <td>{{ cotona.name }}</td>
                <td>{{ cotona.block }}</td>
                <td>{{ cotona.date }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        </div>
</body>

</html>


